<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Excerpts</title>
  <link rel="stylesheet" href="./css/editor.css">
</head>
<body>
    {{>dashnav}}
    <div id="editor-div">
      <div id="editorjs"></div>
      <div id="post-button">
        <button id = "save-btn" class="btn btn-success">Submit Post</button>
      </div>
    </div>
    <script src="./dist/bundle.js"></script>
</body>
</html>