<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/user/login" method="POST" autocomplete="off" style ="width:50%;">
    <div class="form-container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit" id="">Login</button>
    </div>

      <div class="form-container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
  // Get the modal
var modal = document.getElementById('id01');

document.getElementById('login-button').onclick = function(event) {
  event.preventDefault
  modal.style.display = 'block';
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == signup || event.target == modal) {
        signup.style.display = "none";
        modal.style.display = "none";
    }
}
</script>
