            <style>
              .sticky {
                position: fixed;
                top: 0;
                width: 100%;
              }
              .content-sticky{
                margin-top:65px;
              }
            </style>            
            
            <nav class="navbar navbar-expand-lg navbar-custom " id="navbar" style="z-index: 500;">
              <a class="navbar-brand">
                <img src="/images/blog.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Excerpts
              </a>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/5eadab9777f6c9001708a8ee/blog">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/gallery" id="gallery">Gallery</a>
                    </li>
                  </ul>

                  <form class="form-inline my-2 my-lg-0"></form>
                    <a class="btn btn-outline-success my-2 my-sm-0" id = "sign-up" style="color: grey; margin-right: 5px;">Sign Up</a>
                    <a class="btn btn-outline-success my-2 my-sm-0" id = "login-button" style="color: grey;">Login</a>
                  </form>
                </div>
            </nav>